body {
    font-family: 'Noto Sans KR', 'Helvetica', 'Arial', sans-serif;
  }
  
  .container {
    max-width: 960px;
  }
  
  .pricing-header {
    max-width: 700px;
  }

  .titled {
    font-weight: 900;
  }
  
  p {font-weight: 100; font-size: 0.8rem;}

  h5 {font-weight: 100; font-size: 1rem;}

  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }