body {
    font-size: 12px;
    font-family: 'Noto Sans KR', 'Helvetica', 'Arial', sans-serif;
  }
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  .container {
    max-width: 960px;
  }
  
  .pricing-header {
    max-width: 700px;
  }

  .titled {
    font-weight: 900;
    line-height: 2rem;
  }
  
  p {font-weight: 100; font-size: 1rem;}
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }