body {
    font-family: 'Noto Sans KR', 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
  }
  
  .container {
    max-width: 960px;
  }
  
  .navi-text {font-weight: 700; font-size: 0.9rem;}

  .pricing-header {
    max-width: 700px;
  }

  .titled {
    font-weight: 900;
  }
  
  p .big {font-weight: 100; font-size: 0.8rem;}

  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }